/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: auto;
  position: fixed;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.logo img {
  width: 70px;
}

.logo-text {
  margin-left: 20px;
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.menu li {
  margin-right: 40px;
  position: relative;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 10;
  width: max-content;
}

.dropdown-menu li {
  margin: 0;
  list-style: none;
  padding: 0.1rem;
}

.login-btn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px;
  border: 1px solid #008374;
  background-color: #008374;
  border-radius: 5px;
  margin: 20px;
}

.profil-btn {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
}

.login-btn:hover {
  background-color: white;
  color: black;
}
/* end navbar */

/* hero */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/img/awal.jpg") no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 1;
  text-align: left;
  margin-left: 10%; /* Adjust this value to move content to the center */
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
  margin: 0 0 20px;
}

.address {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px;
}

.announcement {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 40px;
}

.cta-button {
  font-size: 28px;
  font-weight: 500;
  color: white;
  background-color: #008374;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}
/* end hero */

/* Tentang kami */
.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: #f8f8f8;
}

.text-content {
  max-width: 400px;
  margin-right: 220px;
  text-align: left;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.video-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.play-button {
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: #008374;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid black;
  display: inline-block;
}

.play-button:hover {
  background-color: white;
  color: black;
}

.video iframe {
  border-radius: 10px; /* Membuat sudut video agak tumpul */
}
/* end tentang kami  */

/* Program Unggulan */
.program-unggulan {
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
  position: relative;
  font-family: "Poppins";
}

.program-unggulan .section-title {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  transform: translateX(-50%);
  top: 0;
  margin-top: 20px;
}

.program-unggulan .cards {
  display: flex;
  justify-content: center;
  gap: 89px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.program-unggulan .card {
  width: 200px;
  height: 160px;
  background-color: #008374;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.program-unggulan .card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.program-unggulan .card p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
/* end program unggulan */

/* Daftar Sekarang */
.daftar-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
}

.daftar-content {
  display: grid;
  grid-template-columns: 3fr;
  justify-items: left;
}

.daftar {
  background-color: #008374;
  color: white;
  width: 100%;
  height: auto;
  padding: 30px 50px;
  font-weight: bold;
  text-align: left;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  position: relative; /* Make positioning easier */
}

.title-daftar {
  color: black;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 20px;
}

.daftar h2 {
  margin: 0;
  font-size: 30px;
  text-align: left;
}

.daftar h3 {
  margin: 0;
  font-size: 20px;
}

.daftar-button {
  font-size: 23px;
  font-weight: 600;
  color: #008374;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px; /* Space between the text and button */
  align-self: center; /* Center the button horizontally */
  position: absolute; /* Positioning relative to .daftar */
  bottom: 20px; /* Adjust this value to move the button higher or lower */
  right: 20px; /* Adjust this value to move the button left or right */
}

/* End Daftar Sekarang */

/* Fasilitas */

.header {
  background-color: #008374;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.facilities {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-family: "Poppins";
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/background.jpg") no-repeat center center/cover;
  color: white; /* Mengatur warna teks menjadi putih agar kontras dengan background */
}

.facilities-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px; /* Mengurangi jarak bawah */
  display: inline-block; /* Membuat elemen menjadi inline-block */
  border-bottom: 4px solid white; /* Menambahkan garis bawah */
  padding-bottom: 2px; /* Menambahkan padding bawah */
  width: fit-content; /* Menyesuaikan lebar elemen dengan konten */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.facilities h2 {
  margin-bottom: 10px; /* Mengurangi jarak bawah */
}

.facility-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.facility {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 241px;
  height: 250px;
  text-align: left;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.facility img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.facility h3 {
  margin: 10px;
  font-size: 16px;
  color: #008374;
}

.facility p {
  margin: 10px;
  font-size: 12px;
  color: black;
}

.facilities p {
  margin-top: 5px;
}
/* End Fasilitas */

/* Berita Terbaru */
.berita-terbaru {
  padding: 50px 20px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.berita-title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.berita-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.berita-main {
  width: 729px;
  height: auto;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.berita-main img {
  width: 729px;
  height: 416px;
  object-fit: cover;
}

.berita-content {
  padding: 20px;
}

.tag {
  font-size: 20px;
  font-weight: 600;
  color: #008374;
  margin-bottom: 10px;
}

.berita-content h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.berita-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.berita-meta {
  display: flex;
  gap: 10px;
}

.berita-meta .date,
.berita-meta .time {
  font-size: 16px;
  font-weight: 300;
}

.sidebar {
  width: 411px;
  height: 594px;
  overflow-y: auto;
  padding-right: 10px;
}

.sidebar .small-news {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar .small-news img {
  width: 142px;
  height: 103px;
  border-radius: 10px;
  object-fit: cover;
}

.small-news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-news-content h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.small-news-content p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.small-news-content span {
  font-size: 12px;
  font-weight: 300;
}

/* Scrollbar customization */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Tentang Alumni */
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.alumni-section {
  background-color: #008374;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px; /* Mengurangi jarak bawah */
  color: #f7f7f7;
  font-weight: 900;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  color: #f7f7f7;
  margin-bottom: 20px;
  font-weight: 300;
}

.alumni-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 285px;
  height: 258px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

.year {
  font-size: 14px;
  font-weight: 400;
}

.quote {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}

p {
  display: block;
  margin-block-start: 0%;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
/* End Tentang Alumni */

/* Lokasi Pondok */
.location-section {
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
}

.location-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.location-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  height: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
}

.info-item {
  margin: 10px 0;
  margin-left: 5%;
}

.info-title {
  font-weight: bold;
  color: #008374;
}

.map {
  width: 55%;
  height: auto;
  text-align: right;
}

.map iframe {
  width: 100%;
  height: calc(100vh - 200px); /* Adjust the height to fit the screen, considering the section height */
  border: 0;
}
/* End Lokasi Pondok */

/* Footer */
.footer {
  background-color: #008374;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 20px;
}

.footer-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.footer-icon img {
  width: 20px;
  height: 20px;
}

.footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-icon:hover {
  background-color: #ddd;
}

.right-section p {
  margin: 0;
  text-align: right;
}
/* End of Footer */
